<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="intropage.css">
    <title>Fortunate Humanae</title>
</head>
<body>
    <p id="title">Fortunate Humanae</p>
    <form action="/firstpage" method="POST">
        <input type="text" name="player1" id="player1name" placeholder="Player1 name"><br>
        <input type="text" name="player2" id="player2name" placeholder="Player2 name"><br>
        <button type="submit" id="submitbutton">Submit</button>
    </form>
</body>
</html>